<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add item to list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../static/styles/styles.css}">

</head>
<body>
    <header th:replace="layout :: header"></header>

    <form method="post">
        <div class="row mb-3">
            <label class="col-md-1 col-form-label">Item name</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Enter item name" />
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-1 col-form-label">Item cost</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Enter item cost" />
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-1 col-form-label">Item quantity</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Enter item quantity" />
            </div>
        </div>

        <button class="btn btn-secondary" type="submit">Add item</button>
    </form>

</body>
</html>