<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">

</head>
<body>
    <div class="container">
        <header th:replace="layout :: header"></header>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td><span th:text="${item.itemName}"> Name</span></td>
                    <td><span th:text="${item.itemCost}"> Cost</span></td>
                    <td><span th:text="${item.quantity}"> Quantity</span></td>
                    <td>
                        <a class="btn btn-secondary btn-sm" th:href="'/edit/' + ${item.itemName}">Edit Item</a>
                        <a class="btn btn-secondary btn-sm" th:href="'/delete/' + ${item.itemName}">Remove Item</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-3">
                <a class="btn btn-secondary btn-lg" th:href="@{/add}">Add Item</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-secondary btn-lg" th:href="@{/email}">Email list</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-secondary btn-lg" th:href="@{/xls}">Export to Excel</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-secondary btn-lg" th:href="@{/confirmation}">Empty Basket</a>
            </div>
        </div>
    </div>
</body>
</html>