<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Empty Basket</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/styles/styles.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" referrerpolicy="no-referrer" />

</head>
<body>

  <div class="container">
    <p class="alert alert-danger" role="alert"><strong>WARNING <i class="fa-solid fa-circle-exclamation"></i></strong></p>
    <p>This will empty your basket. The action can not be undone. Do you wish to proceed?</p>
    <div>
      <a class="btn btn-danger" th:href="@{/confirmation/remove}">Proceed</a>
      <a class="btn btn-secondary" th:href="@{/basket}">Cancel</a>
    </div>
  </div>


</body>
</html>