<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
    <div class="container">

        <form action="#" th:action="" th:object="" method="post">
            <div class="row mb-3">
                <label class="col-md-1 col-form-label">Username</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Enter username" th:field="" autofocus />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-1 col-form-label">Enter password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Enter password" th:field="" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-1 col-form-label">Confirm password</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Confirm password" th:field="" />
                </div>
            </div>


            <input class="btn btn-secondary" type="submit" value="Register"/>
            <a class="btn btn-secondary" th:href="@{/login}">Cancel</a>
        </form>
    </div>

</body>
</html>